In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [68]:
X = pd.read_csv ("C:/Users/Lenovo/Desktop/BITCOIN/lead_scoring.csv")
print (X)

                               Prospect ID  Lead Number  \
0     7927b2df-8bba-4d29-b9a2-b6e0beafe620       660737
1     2a272436-5132-4136-86fa-dcc88c88f482       660728
2     8cc8c611-a219-4f35-ad23-fdfd2656bd8a       660727
3     0cc2df48-7cf4-4e39-9de9-19797f9b38cc       660719
4     3256f628-e534-4826-9d63-4a8b88782852       660681
...                                    ...          ...
9235  19d6451e-fcd6-407c-b83b-48e1af805ea9       579564
9236  82a7005b-7196-4d56-95ce-a79f937a158d       579546
9237  aac550fe-a586-452d-8d3c-f1b62c94e02c       579545
9238  5330a7d1-2f2b-4df4-85d6-64ca2f6b95b9       579538
9239  571b5c8e-a5b2-4d57-8574-f2ffb06fdeff       579533

                  Lead Origin     Lead Source Do Not Email Do Not Call  \
0                         API      Olark Chat           No          No
1                         API  Organic Search           No          No
2     Landing Page Submission  Direct Traffic           No          No
3     Landing Page Submission  Direct Traffic           No          No
4     Landing Page Submission          Google           No          No
...                       ...             ...          ...         ...
9235  Landing Page Submission  Direct Traffic          Yes          No
9236  Landing Page Submission  Direct Traffic           No          No
9237  Landing Page Submission  Direct Traffic          Yes          No
9238  Landing Page Submission          Google           No          No
9239  Landing Page Submission  Direct Traffic           No          No

      Converted  TotalVisits  Total Time Spent on Website  \
0             0          0.0                            0
1             0          5.0                          674
2             1          2.0                         1532
3             0          1.0                          305
4             1          2.0                         1428
...         ...          ...                          ...
9235          1          8.0                         1845
9236          0          2.0                          238
9237          0          2.0                          199
9238          1          3.0                          499
9239          1          6.0                         1279

      Page Views Per Visit  ... Get updates on DM Content    Lead Profile  \
0                     0.00  ...                        No          Select
1                     2.50  ...                        No          Select
2                     2.00  ...                        No  Potential Lead
3                     1.00  ...                        No          Select
4                     1.00  ...                        No          Select
...                    ...  ...                       ...             ...
9235                  2.67  ...                        No  Potential Lead
9236                  2.00  ...                        No  Potential Lead
9237                  2.00  ...                        No  Potential Lead
9238                  3.00  ...                        No             NaN
9239                  3.00  ...                        No  Potential Lead

                    City Asymmetrique Activity Index  \
0                 Select                   02.Medium
1                 Select                   02.Medium
2                Jakarta                   02.Medium
3                Jakarta                   02.Medium
4                Jakarta                   02.Medium
...                  ...                         ...
9235             Jakarta                   02.Medium
9236             Jakarta                   02.Medium
9237             Jakarta                   02.Medium
9238  Other Metro Cities                   02.Medium
9239        Other Cities                   02.Medium

     Asymmetrique Profile Index Asymmetrique Activity Score  \
0                     02.Medium                        15.0
1                     02.Medium                        15.0
2                       01.High                        14.0
3                       01.High                        13.0
4                       01.High                        15.0
...                         ...                         ...
9235                    01.High                        15.0
9236                    01.High                        14.0
9237                    01.High                        13.0
9238                  02.Medium                        15.0
9239                    01.High                        15.0

     Asymmetrique Profile Score I agree to pay the amount through cheque  \
0                          15.0                                       No
1                          15.0                                       No
2                          20.0                                       No
3                          17.0                                       No
4                          18.0                                       No
...                         ...                                      ...
9235                       17.0                                       No
9236                       19.0                                       No
9237                       20.0                                       No
9238                       16.0                                       No
9239                       18.0                                       No

     A free copy of Mastering The Interview Last Notable Activity
0                                        No              Modified
1                                        No          Email Opened
2                                       Yes          Email Opened
3                                        No              Modified
4                                        No              Modified
...                                     ...                   ...
9235                                     No     Email Marked Spam
9236                                    Yes              SMS Sent
9237                                    Yes              SMS Sent
9238                                     No              SMS Sent
9239                                    Yes              Modified

[9240 rows x 37 columns]

In [69]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Prospect ID                                     9240 non-null   object
 1   Lead Number                                     9240 non-null   int64
 2   Lead Origin                                     9240 non-null   object
 3   Lead Source                                     9204 non-null   object
 4   Do Not Email                                    9240 non-null   object
 5   Do Not Call                                     9240 non-null   object
 6   Converted                                       9240 non-null   int64
 7   TotalVisits                                     9103 non-null   float64
 8   Total Time Spent on Website                     9240 non-null   int64
 9   Page Views Per Visit                            9103 non-null   float64
 10  Last Activity                                   9137 non-null   object
 11  Country                                         6779 non-null   object
 12  Specialization                                  7802 non-null   object
 13  How did you hear about Madugital                7033 non-null   object
 14  What is your current occupation                 6550 non-null   object
 15  What matters most to you in choosing a product  6531 non-null   object
 16  Search                                          9240 non-null   object
 17  Magazine                                        9240 non-null   object
 18  Newspaper Article                               9240 non-null   object
 19  Madugital Telegram                              9240 non-null   object
 20  Newspaper                                       9240 non-null   object
 21  Digital Advertisement                           9240 non-null   object
 22  Through Recommendations                         9240 non-null   object
 23  Receive More Updates About Our Products         9240 non-null   object
 24  Tags                                            5887 non-null   object
 25  Lead Quality                                    4473 non-null   object
 26  Update me on Supply Chain Content               9240 non-null   object
 27  Get updates on DM Content                       9240 non-null   object
 28  Lead Profile                                    6531 non-null   object
 29  City                                            7820 non-null   object
 30  Asymmetrique Activity Index                     5022 non-null   object
 31  Asymmetrique Profile Index                      5022 non-null   object
 32  Asymmetrique Activity Score                     5022 non-null   float64
 33  Asymmetrique Profile Score                      5022 non-null   float64
 34  I agree to pay the amount through cheque        9240 non-null   object
 35  A free copy of Mastering The Interview          9240 non-null   object
 36  Last Notable Activity                           9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [70]:
X.isna().sum()

Prospect ID                                          0
Lead Number                                          0
Lead Origin                                          0
Lead Source                                         36
Do Not Email                                         0
Do Not Call                                          0
Converted                                            0
TotalVisits                                        137
Total Time Spent on Website                          0
Page Views Per Visit                               137
Last Activity                                      103
Country                                           2461
Specialization                                    1438
How did you hear about Madugital                  2207
What is your current occupation                   2690
What matters most to you in choosing a product    2709
Search                                               0
Magazine                                             0
Newspaper Article                                    0
Madugital Telegram                                   0
Newspaper                                            0
Digital Advertisement                                0
Through Recommendations                              0
Receive More Updates About Our Products              0
Tags                                              3353
Lead Quality                                      4767
Update me on Supply Chain Content                    0
Get updates on DM Content                            0
Lead Profile                                      2709
City                                              1420
Asymmetrique Activity Index                       4218
Asymmetrique Profile Index                        4218
Asymmetrique Activity Score                       4218
Asymmetrique Profile Score                        4218
I agree to pay the amount through cheque             0
A free copy of Mastering The Interview               0
Last Notable Activity                                0
dtype: int64

In [71]:
X["What is your current occupation"].unique()

array(['Unemployed', 'Student', nan, 'Working Professional',
       'Businessman', 'Other', 'Housewife'], dtype=object)

In [72]:
X_dropped = X.copy()
X_dropped['What is your current occupation'] = X_dropped['What is your current occupation'].fillna('unknown')

In [73]:
X["How did you hear about Madugital"].unique()

array(['Select', 'Word Of Mouth', 'Other', nan, 'Online Search',
       'Multiple Sources', 'Advertisements', 'Student of SomeSchool',
       'Email', 'Social Media', 'SMS'], dtype=object)

In [74]:
X_dropped = X.copy()
X_dropped['How did you hear about Madugital'] = X_dropped['How did you hear about Madugital'].fillna('other')

In [75]:
X["How did you hear about Madugital"].unique()

array(['Select', 'Word Of Mouth', 'Other', nan, 'Online Search',
       'Multiple Sources', 'Advertisements', 'Student of SomeSchool',
       'Email', 'Social Media', 'SMS'], dtype=object)

In [76]:
pd.crosstab(X_dropped['How did you hear about Madugital'], X_dropped['What is your current occupation'], normalize=False) # normalize=True

What is your current occupation,Businessman,Housewife,Other,Student,Unemployed,Working Professional
How did you hear about Madugital,,,,,,
Advertisements,0,0,0,2,44,4
Email,0,0,0,0,20,2
Multiple Sources,0,0,0,2,98,13
Online Search,1,1,1,7,542,52
Other,0,1,0,3,129,12
SMS,0,0,0,0,11,1
Select,6,8,14,169,4293,553
Social Media,0,0,0,1,49,3
Student of SomeSchool,0,0,0,8,196,34
Word Of Mouth,0,0,1,5,217,28
other,1,0,0,13,1,4

In [77]:
X.duplicated().sum()

0

In [105]:
# calculate the correlation between two variables
pd.crosstab(X_dropped['How did you hear about Madugital'], X_dropped['Converted'], normalize = True)

Converted                                0         1
How did you hear about Madugital
Advertisements                    0.004113  0.003463
Email                             0.001407  0.001407
Multiple Sources                  0.010390  0.006061
Online Search                     0.050325  0.037121
Other                             0.012013  0.008117
SMS                               0.001948  0.000541
Select                            0.282684  0.263095
Social Media                      0.004221  0.003030
Student of SomeSchool             0.018074  0.015476
Word Of Mouth                     0.021212  0.016450
other                             0.208225  0.030628

In [88]:
pd.crosstab(X_dropped['How did you hear about Madugital'], X_dropped['What is your current occupation'], normalize = True)

What is your current occupation,Businessman,Housewife,Other,Student,Unemployed,Working Professional
How did you hear about Madugital,,,,,,
Advertisements,0.000000,0.000000,0.000000,0.000305,0.006718,0.000611
Email,0.000000,0.000000,0.000000,0.000000,0.003053,0.000305
Multiple Sources,0.000000,0.000000,0.000000,0.000305,0.014962,0.001985
Online Search,0.000153,0.000153,0.000153,0.001069,0.082748,0.007939
Other,0.000000,0.000153,0.000000,0.000458,0.019695,0.001832
SMS,0.000000,0.000000,0.000000,0.000000,0.001679,0.000153
Select,0.000916,0.001221,0.002137,0.025802,0.655420,0.084427
Social Media,0.000000,0.000000,0.000000,0.000153,0.007481,0.000458
Student of SomeSchool,0.000000,0.000000,0.000000,0.001221,0.029924,0.005191
Word Of Mouth,0.000000,0.000000,0.000153,0.000763,0.033130,0.004275
other,0.000153,0.000000,0.000000,0.001985,0.000153,0.000611

In [90]:
#get dummies values
X_dummies = pd.get_dummies(X_dropped[['How did you hear about Madugital', 'What is your current occupation']], drop_first = True)
X_modelling = X_dropped.join(X_dummies)
X_dummies.head()

,How did you hear about Madugital_Email,How did you hear about Madugital_Multiple Sources,How did you hear about Madugital_Online Search,How did you hear about Madugital_Other,How did you hear about Madugital_SMS,How did you hear about Madugital_Select,How did you hear about Madugital_Social Media,How did you hear about Madugital_Student of SomeSchool,How did you hear about Madugital_Word Of Mouth,How did you hear about Madugital_other,What is your current occupation_Housewife,What is your current occupation_Other,What is your current occupation_Student,What is your current occupation_Unemployed,What is your current occupation_Working Professional
0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0

In [92]:
X_modelling.columns

Index(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'Converted', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about Madugital',
       'What is your current occupation',
       'What matters most to you in choosing a product', 'Search', 'Magazine',
       'Newspaper Article', 'Madugital Telegram', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Products', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity',
       'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth',
       'How did you hear about Madugital_other',
       'What is your current occupation_Housewife',
       'What is your current occupation_Other',
       'What is your current occupation_Student',
       'What is your current occupation_Unemployed',
       'What is your current occupation_Working Professional'],
      dtype='object')

In [94]:
X_modelling.drop(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about Madugital',
       'What is your current occupation',
       'What matters most to you in choosing a product', 'Search', 'Magazine',
       'Newspaper Article', 'Madugital Telegram', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Products', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity'], axis = 1, inplace = True)

In [106]:
train, test = train_test_split(X_modelling, test_size = 0.3)

In [107]:
train.shape, test.shape

((6468, 16), (2772, 16))

In [108]:
train.columns

Index(['Converted', 'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth',
       'How did you hear about Madugital_other',
       'What is your current occupation_Housewife',
       'What is your current occupation_Other',
       'What is your current occupation_Student',
       'What is your current occupation_Unemployed',
       'What is your current occupation_Working Professional'],
      dtype='object')

In [115]:
# Decision Tree Classifier
X_train = train.drop(['Converted'], 1)
y_train = train['Converted']

X_test = test.drop(['Converted'], 1)
y_test = test['Converted']

dt = DecisionTreeClassifier(random_state = 0)
dt.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [116]:
dt.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [117]:
y_test

8679    0
7687    0
7532    0
7742    1
5681    0
       ..
3505    0
3474    0
4669    0
732     0
4541    0
Name: Converted, Length: 2772, dtype: int64

In [118]:
y_pred = dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
print(accuracy, precision, recall)

0.6825396825396826 0.9057377049180327 0.20500927643784786